/*
 * It is advised not to edit the smartadmin_production.css
 * as this will override any changes you make in the 
 * later versions of this theme. 
 * 
 * We advise that you use use this CSS to override 
 * SmartAdmin styles. 
 * 
 * Rename the stylesheet to whatever your liking so it will stay
 * unique to you with each update of SmartAdmin.
 */

/*
 * INDEX
 * 
 * - HTML
 * - BODY
 * - CUSTOM STYLES
 */
.label-poa200plus {
	background-color: #002060 !important;
}

.label-poa200 {
	background-color: #2F5597 !important;
}

.label-poa150 {
	background-color: #8FAADC !important;
}

.label-poa100 {
	background-color: #548235 !important;
}

.label-poa80 {
	background-color: #FFD966 !important;
}

.label-poa60 {
	background-color: #C8A512 !important;
}

.label-poa40 {
	background-color: #F4B183 !important;
}

.label-poa20 {
	background-color: #F37121 !important;
}

.label-poa0 {
	background-color: #FF0000 !important;
}

.select2 {
	border: 0px solid #ccc;
	height: 32px;
	padding: 0;
}

.colorCabeceras {
	background-color: #6A0F49 !important;
	color: white !important;
}

.colorCabeceras:focus {
	box-shadow: 0px 0px 0px 4px #A9A9A9;
	border-color: #6A0F49;
	border: 1px solid #6A0F49;
}

.centerBodyForm {
	font-family: 'Open Sans', sans-serif;
	background: #f0f0f0;
	font-weight: 300;
	text-align: center;
}

.noBorder {
	width: auto;
	border-bottom: none;
}

.circuloR {
	background-color: red;
	width: 100px;
	height: 100px;
	border-radius: 50%;
}

.circuloG {
	background-color: grey;
	width: 100px;
	height: 100px;
	border-radius: 50%;
}

.ctxt2 {
	height: 150px !important;
	width: 450px;
}

.textarea {
	resize: none;
}

.th-administration {
	width: 150px;
}

#panel-sistemas {
	margin-top: 2.5%;
}

@media screen and (min-width: 40px) {
	#panel-sistemas .superbox-list {
		width: 100%;
		margin: 0.5%;
	}
}

@media screen and (min-width: 800px) and (max-width: 1200px) {
	#panel-sistemas .superbox-list {
		width: 30%;
		margin: 0.5%;
	}
}

@media screen and (min-width : 1200px) {
	#panel-sistemas .superbox-list {
		width: 45%;
		margin: 0.5%;
	}
}

#panel-sistemas .superbox-list img {
	min-width: 100%;
}

#panel-sistemas .superbox-show {
	background: #fff;
}

#panel-sistemas .superbox-show img {
	max-width: 45% !important;
	min-width: 45% !important;
}

#panel-sistemas #imgInfoBox {
	color: #000;
}

#panel-sistemas .superbox-img-description {
	color: #444;
}

.tag {
	display: inline-block !important;
}

.tag span {
	background: transparent !important;
	text-align: center;
}

.tag span:hover {
	opacity: 0.7;
}

.bootstrap-tagsinput input {
	display: inline-block !important;
	outline: none !important;
	border: 0px solid #000 !important;
}

.capitalize {
	text-transform: capitalize;
}

tr.selected {
	background: rgba(0, 180, 0, 0.2) !important;
}

span.has-error {
	color: rgba(180, 0, 0, 0.8);
}

.fuelux .wizard ul li.active {
	background: #3276b1 none repeat scroll 0 0;
	color: #fff;
	font-weight: bold;
}

.fuelux .wizard ul li.active .chevron::before {
	border-right-color: #3276b1;
}

.fuelux .wizard ul li.active .chevron::before {
	border-left: 14px solid #3276b1;
}

#modalPartidas .modal-dialog {
	width: 75%;
}

.page-footer {
	position: fixed;
	z-index: 99999999999999;
	background-image: url('/assets/img/footer.jpg');
	color: #FFF;
	width: 100%;
	bottom: 0px;
	height: 50px;
	padding-bottom: 0px;
	padding-top: 5px;
}

.img-delete-trigger {
	position: absolute;
	z-index: 99999;
	width: 25px;
	height: 25px;
	background: darkred;
	right: 10px;
	top: -7px;
	border-radius: 20px;
	color: white;
	text-align: center;
	font-size: 16px;
	opacity: 0.8;
	cursor: pointer;
}

.img-delete-trigger:hover {
	opacity: 1;
}

.ctxt {
	height: 200px !important;
	width: 380px;
}


.customListImport {
	margin: 2px;
	border: 1px solid #b5b5b5;
	padding: 5px;
	width: 100%;
}

.text-center-specialF {
  text-align: center !important;
  padding-top: 10px !important;
}

/*Footer*/
.footer{
    box-shadow: 0px -10px 1px #FFC3D0; 
    background-image: url('/assets/img/footer.jpg'); 
    background-repeat: no-repeat; 
    background-position: center; 
    background-size: cover;
    padding-top:1.1%;
    padding-bottom:1.1%;
 }

  .gobiernoDigitalDIV{
    position: absolute !important; 
    left: 0.1%  !important; 
    background-color:white  !important;
    border-radius: 50%  !important; 
    margin-top: -2.1%  !important; 
    box-shadow:  0px 4px 20px #000000, 0px -4px 20px #000000  !important; 
    /*IMAGEN de fondo GD*/
    background-image: url('/assets/img/GDSello.png')  !important; 
    background-repeat: no-repeat  !important; 
    background-position: center  !important; 
    background-size: 90%  !important;
    width:85px  !important; 
    height:85px  !important;
 }

/*Skin*/

.smart-style-7 a {
	transition: color .1s linear 0s, background-color .1s linear 0s !important
}

.smart-style-7 body.container {
	border-left: 1px solid rgba(77, 95, 142, 0);
	border-right: 1px solid rgba(77, 121, 220, 0)
}

.smart-style-7 #header {
	background-image: none;
	background-color: #0D3F64
}

.smart-style-7 .project-context>:first-child {
	color: #697B92;
	text-shadow: 0 0 1px #111318
}

.smart-style-7 #ribbon {
	background: #DCDFE7
}

.smart-style-7 .breadcrumb>li+li:before {
	color: #646464
}

.smart-style-7 .project-selector {
	color: #B9B9B9
}

.smart-style-7 .btn.btn-ribbon {
	background-color: #697486;
	background-image: -moz-linear-gradient(top, #6f7d94, #697486);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#6f7d94), to(#697486));
	background-image: -webkit-linear-gradient(top, #6f7d94, #697486);
	background-image: -o-linear-gradient(top, #6f7d94, #697486);
	background-image: linear-gradient(to bottom, #6f7d94, #697486)
}

.smart-style-7 #logo-group {
	background: #0D3F64 !important
}

.smart-style-7 #logo-group span#activity {
	background: #0d0f12;
	border: 1px solid #0d0f12 color:#fff;
	cursor: pointer
}

.smart-style-7 #logo-group>span .badge {
	background: #0aa699
}

.smart-style-7 .btn-header>:first-child>a {
	background: #BF5485;
	border: 1px solid #0D5A76;
	color: #fff !important;
	cursor: pointer !important
}

.smart-style-7 .btn-header>:first-child>a:hover {
	opacity: .5
}

.smart-style-7 #cancel-search-js {
	background: #fb3c4a;
	line-height: 29px !important
}

.smart-style-7 .MsgTitle .txt-color-orangeDark {
	color: #0D3F64 !important
}

.smart-style-7 .minifyme {
	background: #BF5485
}

.smart-style-7 .minifyme:hover {
	background: #BF5485;
	color: #E1E8F3
}

.smart-style-7 #show-shortcut:hover>i {
	color: #fff
}

.smart-style-7 .superbox-list.active:before {
	color: #1b1e24
}

.smart-style-7 nav ul b {
	font-size: 14px;
	margin-top: 0
}

.smart-style-7 nav ul b .fa-plus-square-o:before {
	content: "\f137"
}

.smart-style-7 nav ul b .fa-minus-square-o:before {
	content: "\f13a"
}

.smart-style-7 nav ul ul {
	background: #D9D1D2
}

.smart-style-7 nav ul ul li>a {
	font-size: 14px;
	padding-left: 30px;
	color: #0D3F64;
	display: block;
	font-weight: 500;
	padding-top: 6px !important;
	padding-bottom: 6px !important;
	overflow: hidden
}

.smart-style-7 nav ul ul li>a:hover {
	background: #0D3F64 !important
}

.smart-style-7 nav ul ul ul li a {
	padding: 8px 17px 8px 54px !important
}

.smart-style-7 nav ul ul ul ul li a {
	padding-left: 72px !important
}

.smart-style-7 nav ul ul ul ul ul li a {
	padding-left: 90px !important
}

.smart-style-7 nav ul ul ul ul ul ul li a {
	padding-left: 108px !important
}

.smart-style-7 nav ul li a:active {
	background: 0 0
}

.smart-style-7 nav ul li a:hover {
	color: #E1EAF1
}

.smart-style-7 nav ul li a {
	padding: 12px 17px 12px 16px
}

.smart-style-7 nav>ul>li>a>i {
	font-size: 17px;
	vertical-align: 0
}

.smart-style-7 nav>ul>li>a b {
	right: 17px;
	top: 12px
}

.smart-style-7 nav>ul>li>a>i:after {
	border: 1px solid #fff
}

.smart-style-7 nav>ul>li>a:hover i {
	-webkit-animation-name: none;
	-moz-animation-name: none;
	-o-animation-name: none;
	animation-name: none
}

.smart-style-7 .header-search>input[type=text] {
	border-color: #FFF !important;
	border-radius: 2px
}

.smart-style-7 .header-dropdown-list a.dropdown-toggle {
	color: #FFF;
	text-decoration: none
}

.smart-style-7 .login-info {
	height: auto;
	font-weight: bold;
}

.smart-style-7 .login-info>span {
	padding: 5px 10px
}

.smart-style-7 .login-info>span span {
	color: #ffffff
}

.smart-style-7 .login-info img {
	width: 35px;
	border-radius: 50%
}

.smart-style-7 .login-info a {
	margin-top: 2px
}

.smart-style-7 .login-info a span {
	max-width: 136px
}

.smart-style-7 .login-info a:hover {
	color: #fff
}

.smart-style-7 #activity.active .badge {
	background: #0aa699 !important
}

.smart-style-7 .ajax-dropdown {
	background: #E2E8F1
}

.smart-style-7 .ajax-notifications {
	background: #fff
}

.smart-style-7 img.online {
	border-left-color: #0AA699 !important
}

.smart-style-7 .onoffswitch-inner:before {
	background-color: #36AECC !important
}

.smart-style-7 .bg-color-red {
	background-color: #fb3c4a !important
}

.smart-style-7 .jarviswidget-color-darken>header {
	background: #1B1E24 !important;
	border-color: #1B1E24 !important
}

.smart-style-7 .jarviswidget-color-blueDark>header {
	background: #353D4B !important;
	border-color: #353D4B !important
}

.smart-style-7 .jarviswidget-color-blue>header {
	background: #688F9E;
	border-color: #6A838D !important
}

.smart-style-7 .jarviswidget-color-purple>header {
	background: #736086
}

.smart-style-7 .jarviswidget-color-red>header {
	background: #C02631;
	border-color: #8F2129 !important
}

.smart-style-7 .jarviswidget .bg-color-red {
	background: #C02631 !important
}

.smart-style-7 .ui-chatbox-titlebar {
	background: #3E4553 !important
}

.smart-style-7 .ui-chatbox-titlebar.ui-state-focus {
	background: #1B1F27 !important
}

.smart-style-7 #ribbon .breadcrumb li:last-child,
.smart-style-7 #ribbon .breadcrumb>.active {
	color: #868686
}

.smart-style-7 #ribbon .breadcrumb,
.smart-style-7 #ribbon .breadcrumb a {
	color: #747474 !important
}

.smart-style-7 .dropdown-menu,
.smart-style-7 .open>.dropdown-menu {
	padding: 4px
}

.smart-style-7 .dropdown-menu>li>a {
	border-radius: 4px;
	margin: 3px 0
}

.smart-style-7 .page-footer,
.smart-style-7 .superbox-show,
.smart-style-7 aside {
	background: #0D3F64
}

.smart-style-7 .login-info,
.smart-style-7 .login-info span {
	border-bottom: none
}

.smart-style-7 nav>ul ul li::before,
.smart-style-7 nav>ul>li>ul::before {
	border: none !important
}

.smart-style-7 .login-info a,
.smart-style-7 .login-info strong,
.smart-style-7 nav ul li a {}

.smart-style-7 .pagination>.active>a,
.smart-style-7 .pagination>.active>a:focus,
.smart-style-7 .pagination>.active>a:hover,
.smart-style-7 .pagination>.active>span,
.smart-style-7 .pagination>.active>span:focus,
.smart-style-7 .pagination>.active>span:hover {
	background-color: #36AECC;
	border-color: #36AECC
}

.smart-style-7.minified .login-info a {
	margin-top: 6px
}

.smart-style-7.minified .login-info img {
	width: 30px !important
}

.smart-style-7.minified .login-info span {
	padding: 0 5px !important
}

.smart-style-7.minified nav ul li a {
	padding: 12px 17px 12px 14px
}

.smart-style-7.minified nav ul ul li>a:hover {
	background: #0D3F50 !important
}

.smart-style-7.minified nav ul ul li>a {
	padding-left: 13px;
	padding-right: 13px !important
}

.smart-style-7.minified nav ul ul ul li a {
	padding-left: 33px !important;
	padding-right: 13px !important
}

.smart-style-7.minified nav ul ul ul ul li a {
	padding-left: 43px !important;
	padding-right: 13px !important
}

.smart-style-7.minified nav ul ul ul ul ul li a {
	padding-left: 53px !important;
	padding-right: 13px !important
}

.smart-style-7.minified nav ul ul ul ul ul ul li a {
	padding-left: 63px !important;
	padding-right: 13px !important
}

.smart-style-7.minified nav ul>li>ul>li>ul {
	background: #0D3F50
}

.smart-style-7.minified nav>ul>li {
	border-bottom: 1px solid #131416;
	border-top: 1px solid #303031
}

.smart-style-7.minified nav>ul>li>a>i {
	font-size: 18px
}

.smart-style-7.minified nav>ul>li>ul {
	background: #0D3F64
}

.smart-style-7.minified nav>ul>li>ul>li {
	background: #D9D1D2
}

.smart-style-7.minified nav>ul>li>ul>li>ul>li {
	background: #1B1E24
}

.smart-style-7 .jarviswidget .bg-color-greenLight,
.smart-style-7 .jarviswidget-color-greenLight>header {
	border-color: #96B447 !important;
	background: #96B447 !important
}

.smart-style-7 .jarviswidget .bg-color-yellow,
.smart-style-7 .jarviswidget-color-yellow>header {
	border-color: #DBB727 !important;
	background: #FDD01C !important;
	color: #25241F
}

.smart-style-7 .jarviswidget .bg-color-pink,
.smart-style-7 .jarviswidget-color-pink>header {
	background: #DB8EBB !important
}

.smart-style-7 .jarviswidget>header {
	background: #BD6A90;
}

.smart-style-7 .jarviswidget>div {
	background: #3c616f57 !important;
}

.smart-style-7.menu-on-top nav ul ul li>a {
	text-shadow: none !important;
	color: #4D0503
}

.smart-style-7.menu-on-top nav ul ul li a {
	padding-left: 10px !important;
	font-size: 13px
}

.smart-style-7.menu-on-top nav ul ul li:hover>a {
	color: #fff;
	background-color: #1b1e24
}

.smart-style-7.menu-on-top nav ul ul .active>a {
	color: #fff !important
}

.smart-style-7.menu-on-top nav>ul ul ul {
	border-top: 1px solid #c7c7c7 !important
}

.smart-style-7.menu-on-top nav>ul ul li:hover>ul {
	background: #333
}

.smart-style-7.menu-on-top nav>ul>li>a:after {
	color: #8AA1B3 !important
}

.smart-style-7.menu-on-top aside {
	background: #14161B
}

.smart-style-7.menu-on-top aside#left-panel {
	-webkit-box-shadow: 0 2px 4px 0 rgba(0, 37, 54, 0);
	box-shadow: 0 2px 4px 0 rgba(0, 37, 54, 0);
	border-bottom: 1px solid #222;
	border-top: 1px solid #333
}

.smart-style-7.menu-on-top aside#left-panel nav>ul>li {
	border-right: 1px solid transparent;
	border-left: 1px solid transparent
}

.smart-style-7.menu-on-top aside#left-panel nav>ul>li>a {
	text-shadow: none !important;
	font-size: 13px;
	padding: 10px 9px !important
}

.smart-style-7.menu-on-top aside#left-panel nav>ul>li>ul {
	background: #3a3633
}

.smart-style-7.menu-on-top aside#left-panel nav>ul>li:hover {
	border-right-color: #333;
	border-left-color: #333;
	background: #fff;
	background: -moz-linear-gradient(top, #04070c 0, #2e3e57 66%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #cfcfcf), color-stop(66%, #2e3e57));
	background: -webkit-linear-gradient(top, #04070c 0, #2e3e57 66%);
	background: -o-linear-gradient(top, #04070c 0, #2e3e57 66%);
	background: -ms-linear-gradient(top, #04070c 0, #2e3e57 66%);
	background: linear-gradient(to bottom, #04070c, #2e3e57 66%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#04070C', endColorstr='#2E3E57', GradientType=0)
}

.smart-style-7.menu-on-top aside#left-panel nav>ul>li:hover>a {
	color: #F1F1F1 !important;
	border-left: 1px solid #000;
	border-right: 1px solid #000;
	padding-left: 8px !important;
	padding-right: 8px !important
}

.smart-style-7.menu-on-top nav ul ul li a,
.smart-style-7.menu-on-top nav ul ul ul li a {
	color: #D8DEE5
}

.smart-style-7.menu-on-top nav ul ul li a:hover,
.smart-style-7.menu-on-top nav ul ul ul li a:hover {
	color: #fff;
	background-color: #1b1e24 !important
}

.smart-style-7.menu-on-top nav ul ul,
.smart-style-7.menu-on-top nav ul ul ul {
	background: #2e3e57 !important;
	border: 1px solid transparent;
	padding: 0
}

.smart-style-7.menu-on-top nav ul ul li:hover>a:after,
.smart-style-7.menu-on-top nav>ul ul>li a:after,
.smart-style-7.menu-on-top nav>ul ul>li a:hover:after,
.smart-style-7.menu-on-top nav>ul>li>a:after {
	color: #D5D5D5
}

.smart-style-7.menu-on-top nav ul ul li:hover>a:after,
.smart-style-7.menu-on-top nav>ul ul>li a:hover:after {
	color: #fff
}

.smart-style-7.menu-on-top nav>ul ul>li a:only-child:after,
.smart-style-7.menu-on-top nav>ul>li>a:only-child:after {
	content: "" !important
}

.smart-style-7.menu-on-top nav ul ul li.active:hover>a,
.smart-style-7.menu-on-top nav ul ul li.active>a:hover {
	color: #fff !important
}

@media (max-width:979px) and (min-width:768px) {
	.smart-style-7 #hide-menu i {
		color: #fff !important
	}
}

@media (max-width:767px) {
	.smart-style-7 #hide-menu i {
		color: #fff !important
	}
}

@media only screen and (max-width:679px) and (min-width:0) {
	.smart-style-7 #hide-menu i {
		color: #fff !important
	}
}

@media only screen and (max-width:479px) and (min-width:320px) {
	.smart-style-7 #sparks {
		background: #fff
	}

	.smart-style-7 #cancel-search-js,
	.smart-style-7 .search-mobile .header-search>button {
		border-radius: 3px
	}
}

.smart-style-7 #left-panel #main #content {
	background-color: : #000000 !important;
}

.smart-style-7 .modal {
	background: rgba(83, 96, 125, 0.8) !important;
}

.smart-style-7 .modal-footer {
	background: #BD6A90 !important;
}

.smart-style-7 .modal-header {
	background: #0d3f658c !important;
}

.smart-style-7 .modal-body {
	background: #3c616f57 !important;
}

/*Skin 2023*/
.smart-style-8 a {
	transition: color .1s linear 0s, background-color .1s linear 0s !important
}

.smart-style-8 body.container {
	border-left: 1px solid rgba(77, 95, 142, 0);
	border-right: 1px solid rgba(77, 121, 220, 0)
}

.smart-style-8 #header {
	background-image: none;
	background-color: #72133F
}

.smart-style-8 .project-context>:first-child {
	color: #697B92;
	text-shadow: 0 0 1px #111318
}

.smart-style-8 #ribbon {
	background: #DCDFE7
}

.smart-style-8 .breadcrumb>li+li:before {
	color: #646464
}

.smart-style-8 .project-selector {
	color: #B9B9B9
}

.smart-style-8 .btn.btn-ribbon {
	background-color: #697486;
	background-image: -moz-linear-gradient(top, #6f7d94, #697486);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#6f7d94), to(#697486));
	background-image: -webkit-linear-gradient(top, #6f7d94, #697486);
	background-image: -o-linear-gradient(top, #6f7d94, #697486);
	background-image: linear-gradient(to bottom, #6f7d94, #697486)
}

.smart-style-8 #logo-group {
	background: #72133F !important
}

.smart-style-8 #logo-group span#activity {
	background: #0d0f12;
	border: 1px solid #0d0f12 color:#fff;
	cursor: pointer
}

.smart-style-8 #logo-group>span .badge {
	background: #0aa699
}

.smart-style-8 .btn-header>:first-child>a {
	background: #A9355C;
	border: 1px solid #000000;
	color: #fff !important;
	cursor: pointer !important
}

.smart-style-8 .btn-header>:first-child>a:hover {
	opacity: .5
}

.smart-style-8 #cancel-search-js {
	background: #fb3c4a;
	line-height: 29px !important
}

.smart-style-8 .MsgTitle .txt-color-orangeDark {
	color: #72133F !important
}

.smart-style-8 .minifyme {
	background: #B53871
}

.smart-style-8 .minifyme:hover {
	background: #B53871;
	color: #E1E8F3
}

.smart-style-8 #show-shortcut:hover>i {
	color: #fff
}

.smart-style-8 .superbox-list.active:before {
	color: #1b1e24
}

.smart-style-8 nav ul b {
	font-size: 14px;
	margin-top: 0
}

.smart-style-8 nav ul b .fa-plus-square-o:before {
	content: "\f137"
}

.smart-style-8 nav ul b .fa-minus-square-o:before {
	content: "\f13a"
}

.smart-style-8 nav ul ul {
	background: #D9D1D2
}

.smart-style-8 nav ul ul li>a {
	font-size: 14px;
	padding-left: 30px;
	color: #72133F;
	display: block;
	font-weight: 500;
	padding-top: 6px !important;
	padding-bottom: 6px !important;
	overflow: hidden
}

.smart-style-8 nav ul ul li>a:hover {
	background: #72133F !important
}

.smart-style-8 nav ul ul ul li a {
	padding: 8px 17px 8px 54px !important
}

.smart-style-8 nav ul ul ul ul li a {
	padding-left: 72px !important
}

.smart-style-8 nav ul ul ul ul ul li a {
	padding-left: 90px !important
}

.smart-style-8 nav ul ul ul ul ul ul li a {
	padding-left: 108px !important
}

.smart-style-8 nav ul li a:active {
	background: 0 0
}

.smart-style-8 nav ul li a:hover {
	color: #E1EAF1
}

.smart-style-8 nav ul li a {
	padding: 12px 17px 12px 16px
}

.smart-style-8 nav>ul>li>a>i {
	font-size: 17px;
	vertical-align: 0
}

.smart-style-8 nav>ul>li>a b {
	right: 17px;
	top: 12px
}

.smart-style-8 nav>ul>li>a>i:after {
	border: 1px solid #fff
}

.smart-style-8 nav>ul>li>a:hover i {
	-webkit-animation-name: none;
	-moz-animation-name: none;
	-o-animation-name: none;
	animation-name: none
}

.smart-style-8 .header-search>input[type=text] {
	border-color: #FFF !important;
	border-radius: 2px
}

.smart-style-8 .header-dropdown-list a.dropdown-toggle {
	color: #FFF;
	text-decoration: none
}

.smart-style-8 .login-info {
	height: auto;
	font-weight: bold;
}

.smart-style-8 .login-info>span {
	padding: 5px 10px
}

.smart-style-8 .login-info>span span {
	color: #ffffff
}

.smart-style-8 .login-info img {
	width: 35px;
	border-radius: 50%
}

.smart-style-8 .login-info a {
	margin-top: 2px
}

.smart-style-8 .login-info a span {
	max-width: 136px
}

.smart-style-8 .login-info a:hover {
	color: #fff
}

.smart-style-8 #activity.active .badge {
	background: #0aa699 !important
}

.smart-style-8 .ajax-dropdown {
	background: #E2E8F1
}

.smart-style-8 .ajax-notifications {
	background: #fff
}

.smart-style-8 img.online {
	border-left-color: #0AA699 !important
}

.smart-style-8 .onoffswitch-inner:before {
	background-color: #36AECC !important
}

.smart-style-8 .bg-color-red {
	background-color: #fb3c4a !important
}

.smart-style-8 .jarviswidget-color-darken>header {
	background: #1B1E24 !important;
	border-color: #1B1E24 !important
}

.smart-style-8 .jarviswidget-color-blueDark>header {
	background: #353D4B !important;
	border-color: #353D4B !important
}

.smart-style-8 .jarviswidget-color-blue>header {
	background: #688F9E;
	border-color: #6A838D !important
}

.smart-style-8 .jarviswidget-color-purple>header {
	background: #736086
}

.smart-style-8 .jarviswidget-color-red>header {
	background: #C02631;
	border-color: #8F2129 !important
}

.smart-style-8 .jarviswidget .bg-color-red {
	background: #C02631 !important
}

.smart-style-8 .ui-chatbox-titlebar {
	background: #3E4553 !important
}

.smart-style-8 .ui-chatbox-titlebar.ui-state-focus {
	background: #1B1F27 !important
}

.smart-style-8 #ribbon .breadcrumb li:last-child,
.smart-style-8 #ribbon .breadcrumb>.active {
	color: #868686
}

.smart-style-8 #ribbon .breadcrumb,
.smart-style-8 #ribbon .breadcrumb a {
	color: #747474 !important
}

.smart-style-8 .dropdown-menu,
.smart-style-8 .open>.dropdown-menu {
	padding: 4px
}

.smart-style-8 .dropdown-menu>li>a {
	border-radius: 4px;
	margin: 3px 0
}

.smart-style-8 .page-footer,
.smart-style-8 .superbox-show,
.smart-style-8 aside {
	background: #72133F
}

.smart-style-8 .login-info,
.smart-style-8 .login-info span {
	border-bottom: none
}

.smart-style-8 nav>ul ul li::before,
.smart-style-8 nav>ul>li>ul::before {
	border: none !important
}

.smart-style-8 .login-info a,
.smart-style-8 .login-info strong,
.smart-style-8 nav ul li a {}

.smart-style-8 .pagination>.active>a,
.smart-style-8 .pagination>.active>a:focus,
.smart-style-8 .pagination>.active>a:hover,
.smart-style-8 .pagination>.active>span,
.smart-style-8 .pagination>.active>span:focus,
.smart-style-8 .pagination>.active>span:hover {
	background-color: #36AECC;
	border-color: #36AECC
}

.smart-style-8.minified .login-info a {
	margin-top: 6px
}

.smart-style-8.minified .login-info img {
	width: 30px !important
}

.smart-style-8.minified .login-info span {
	padding: 0 5px !important
}

.smart-style-8.minified nav ul li a {
	padding: 12px 17px 12px 14px
}

.smart-style-8.minified nav ul ul li>a:hover {
	background: #0D3F50 !important
}

.smart-style-8.minified nav ul ul li>a {
	padding-left: 13px;
	padding-right: 13px !important
}

.smart-style-8.minified nav ul ul ul li a {
	padding-left: 33px !important;
	padding-right: 13px !important
}

.smart-style-8.minified nav ul ul ul ul li a {
	padding-left: 43px !important;
	padding-right: 13px !important
}

.smart-style-8.minified nav ul ul ul ul ul li a {
	padding-left: 53px !important;
	padding-right: 13px !important
}

.smart-style-8.minified nav ul ul ul ul ul ul li a {
	padding-left: 63px !important;
	padding-right: 13px !important
}

.smart-style-8.minified nav ul>li>ul>li>ul {
	background: #0D3F50
}

.smart-style-8.minified nav>ul>li {
	border-bottom: 1px solid #131416;
	border-top: 1px solid #303031
}

.smart-style-8.minified nav>ul>li>a>i {
	font-size: 18px
}

.smart-style-8.minified nav>ul>li>ul {
	background: #72133F
}

.smart-style-8.minified nav>ul>li>ul>li {
	background: #D9D1D2
}

.smart-style-8.minified nav>ul>li>ul>li>ul>li {
	background: #1B1E24
}

.smart-style-8 .jarviswidget .bg-color-greenLight,
.smart-style-8 .jarviswidget-color-greenLight>header {
	border-color: #96B447 !important;
	background: #96B447 !important
}

.smart-style-8 .jarviswidget .bg-color-yellow,
.smart-style-8 .jarviswidget-color-yellow>header {
	border-color: #DBB727 !important;
	background: #FDD01C !important;
	color: #25241F
}

.smart-style-8 .jarviswidget .bg-color-pink,
.smart-style-8 .jarviswidget-color-pink>header {
	background: #DB8EBB !important
}

.smart-style-8 .jarviswidget>header {
	background: #BB618A;
}

.smart-style-8 .jarviswidget>div {
	background: #E5DFE1 !important;
}

.smart-style-8.menu-on-top nav ul ul li>a {
	text-shadow: none !important;
	color: #4D0503
}

.smart-style-8.menu-on-top nav ul ul li a {
	padding-left: 10px !important;
	font-size: 13px
}

.smart-style-8.menu-on-top nav ul ul li:hover>a {
	color: #fff;
	background-color: #1b1e24
}

.smart-style-8.menu-on-top nav ul ul .active>a {
	color: #fff !important
}

.smart-style-8.menu-on-top nav>ul ul ul {
	border-top: 1px solid #c7c7c7 !important
}

.smart-style-8.menu-on-top nav>ul ul li:hover>ul {
	background: #333
}

.smart-style-8.menu-on-top nav>ul>li>a:after {
	color: #8AA1B3 !important
}

.smart-style-8.menu-on-top aside {
	background: #14161B
}

.smart-style-8.menu-on-top aside#left-panel {
	-webkit-box-shadow: 0 2px 4px 0 rgba(0, 37, 54, 0);
	box-shadow: 0 2px 4px 0 rgba(0, 37, 54, 0);
	border-bottom: 1px solid #222;
	border-top: 1px solid #333
}

.smart-style-8.menu-on-top aside#left-panel nav>ul>li {
	border-right: 1px solid transparent;
	border-left: 1px solid transparent
}

.smart-style-8.menu-on-top aside#left-panel nav>ul>li>a {
	text-shadow: none !important;
	font-size: 13px;
	padding: 10px 9px !important
}

.smart-style-8.menu-on-top aside#left-panel nav>ul>li>ul {
	background: #3a3633
}

.smart-style-8.menu-on-top aside#left-panel nav>ul>li:hover {
	border-right-color: #333;
	border-left-color: #333;
	background: #fff;
	background: -moz-linear-gradient(top, #04070c 0, #2e3e57 66%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #cfcfcf), color-stop(66%, #2e3e57));
	background: -webkit-linear-gradient(top, #04070c 0, #2e3e57 66%);
	background: -o-linear-gradient(top, #04070c 0, #2e3e57 66%);
	background: -ms-linear-gradient(top, #04070c 0, #2e3e57 66%);
	background: linear-gradient(to bottom, #04070c, #2e3e57 66%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#04070C', endColorstr='#2E3E57', GradientType=0)
}

.smart-style-8.menu-on-top aside#left-panel nav>ul>li:hover>a {
	color: #F1F1F1 !important;
	border-left: 1px solid #000;
	border-right: 1px solid #000;
	padding-left: 8px !important;
	padding-right: 8px !important
}

.smart-style-8.menu-on-top nav ul ul li a,
.smart-style-8.menu-on-top nav ul ul ul li a {
	color: #D8DEE5
}

.smart-style-8.menu-on-top nav ul ul li a:hover,
.smart-style-8.menu-on-top nav ul ul ul li a:hover {
	color: #fff;
	background-color: #1b1e24 !important
}

.smart-style-8.menu-on-top nav ul ul,
.smart-style-8.menu-on-top nav ul ul ul {
	background: #2e3e57 !important;
	border: 1px solid transparent;
	padding: 0
}

.smart-style-8.menu-on-top nav ul ul li:hover>a:after,
.smart-style-8.menu-on-top nav>ul ul>li a:after,
.smart-style-8.menu-on-top nav>ul ul>li a:hover:after,
.smart-style-8.menu-on-top nav>ul>li>a:after {
	color: #D5D5D5
}

.smart-style-8.menu-on-top nav ul ul li:hover>a:after,
.smart-style-8.menu-on-top nav>ul ul>li a:hover:after {
	color: #fff
}

.smart-style-8.menu-on-top nav>ul ul>li a:only-child:after,
.smart-style-8.menu-on-top nav>ul>li>a:only-child:after {
	content: "" !important
}

.smart-style-8.menu-on-top nav ul ul li.active:hover>a,
.smart-style-8.menu-on-top nav ul ul li.active>a:hover {
	color: #fff !important
}

@media (max-width:979px) and (min-width:768px) {
	.smart-style-8 #hide-menu i {
		color: #fff !important
	}
}

@media (max-width:767px) {
	.smart-style-8 #hide-menu i {
		color: #fff !important
	}
}

@media only screen and (max-width:679px) and (min-width:0) {
	.smart-style-8 #hide-menu i {
		color: #fff !important
	}
}

@media only screen and (max-width:479px) and (min-width:320px) {
	.smart-style-8 #sparks {
		background: #fff
	}

	.smart-style-8 #cancel-search-js,
	.smart-style-8 .search-mobile .header-search>button {
		border-radius: 3px
	}
}

.smart-style-8 #left-panel #main #content {
	background-color: : #000000 !important;
}

.smart-style-8 .modal {
	background: rgba(236, 190, 205, 0.8) !important;
}


.smart-style-8 .modal-footer {
	background: #FFFFFF !important;
}

.smart-style-8 .modal-header {
	background: #B95577 !important;
}

.smart-style-8 .modal-body {
	background: #E5DFE1 !important;
}

.smart-style-8 .modal-title {
	font-weight: bold;
}